<nav class="navigation">
  <section class="container">
    <a class="navigation-title" href="rathijitpaul.me/">
      Rathijit Paul
    </a>

    <input type="checkbox" id="menu-toggle" />
    <label class="menu-button float-right" for="menu-toggle"><i class="fas fa-bars"></i></label>
    <ul class="navigation-list">


      <li class="navigation-item">
        <a class="navigation-link" href="rathijitpaul.me/blog/">Blog</a>
      </li>

      <li class="navigation-item">
        <a class="navigation-link" href="rathijitpaul.me/projects/">Projects</a>
      </li>

      <li class="navigation-item">
        <a class="navigation-link" href="rathijitpaul.me/education/">Education</a>
      </li>

      <!-- <li class="navigation-item">
        <a class="navigation-link" href="rathijitpaul.me/travel/">Travel</a>
      </li> -->

      <li class="navigation-item">
        <a class="navigation-link" href="rathijitpaul.me/about/">About</a>
      </li>

    </ul>

  </section>
</nav>

<!-- Check out <a href="rathijitpaul.me/travel/"><strong>my travel stories</strong></a> -->
